{% extends "base.html" %} <!-- header --> 
  
 {% block content %} 
 <div class="content-flask">
     <h1>Add a Passenger</h1>
     <br>
     <form action="" method="post" novalidate> 
         {{ form.hidden_tag() }} 
         <p>
             {{ form.flight_id(size=32, class_="input", placeholder="Enter Flight ID") }}
         </p>
         <p>
             {{ form.passport_id(size=32, class_="input", placeholder="Enter Passport No.") }}
         </p>
         <p>
             {{ form.first_name(size=32, class_="input",  placeholder="Enter First Name") }}
         </p>
         <p>
             {{ form.last_name(size=32, class_="input",  placeholder="Enter Last Name") }}
         </p>
         <p>
             {{ form.dob(size=32, class_="input",  placeholder="Enter Date of Birth") }}
         </p>
         <br>
         <p> 
             {{ form.submit(class_="button") }}
         </p> 
     </form> 
 </div> 
 {% endblock %} 