{% extends "base.html" %} <!-- header -->

{% block content %}
    <div class="content-flask">
    <h1>Create a Flight</h1>
        <br>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.flight_id(size=32, class_="input", placeholder="Enter Flight ID") }}
        </p>
        <p>
            {{ form.aircraft_id.label(class_="input-label") }}
            {{ form.aircraft_id(class_="input input-dropdown") }}
        </p>
        <p>
            {{ form.destination.label(class_="input-label") }}
            {{ form.destination(class_="input input-dropdown") }}
        </p>
        <p>
            {{ form.departure_time(size=32,class_="input", placeholder="Enter Departure Time" ) }}
        </p>
        <p>
            {{ form.price(size=32,class_="input", placeholder="Enter Price")}}
        </p>
        <br>
        <p>{{ form.submit(class_="button") }}</p>
    </form>
        {% for msg in get_flashed_messages() %}
            <br>
          <h2>{{ msg }}</h2>
        {% endfor %}

        <br>
        <a href="/modifyflight">Modify Flight</a>
    </div>
{% endblock %}
